<div class="row text-center">
	<%= image_tag @website_settings.banner.url(:banner), :class => :banner %>
</div>

<div class="row">
	<div class="span8 offset2">
		<p><%= @website_settings.contact %></p>
	</div>
</div>