<div class="row">
	<div class="span10 offset2">
		<%= image_tag @website_settings.banner.url(:banner), :class => :banner %>
	</div>
</div>

<div class="row">
	<div class="span10 offset2">
		<p><%= @website_settings.contact %></p>
	</div>
</div>