<div class="row">
	<div class="span10 offset1">
		<div class="hero-unit">
			<%= image_tag "header.png", :class => :banner %>
			<div class="row">
				<div class="span9">
					Recent Posts Here
				</div>
			</div>
		</div>
	</div>
</div>
