<div class="row">
	<div class="span10 offset2">
		<%= image_tag "header.png", :class => :banner %>
	</div>
</div>

<hr/>
<div class="row">
	<div class="span10 offset1">
		<h3>Recent Updates</h3>
	</div>
</div>

<%= render @posts %>