<% if can? :manage, Post %>
	<div class="admin-actions pull-right">
	  <%= link_to "New Post", new_post_path, :class => "btn btn-primary" %>
	</div>
<% end %>
<div class="row">
  <div class="offset1 span8">
    <h1>Posts</h1>
    <p>
      View a list of all posts created here.
      You can also view posts under a specific category at the <%= link_to "categories page", categories_path %>.
    </p>
  </div>
</div>

<%= render @posts %>

<%= back_button root_path %>