// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$arrow-background: #0a0a0a;


a.arrow
{
	color: white;
	font-size: 60pt;
	background-color: $arrow-background;
	line-height: 60pt;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;

	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid black;
	width: 60pt;
	height: 60pt;

	&:hover
	{
		text-decoration: none;
	}
}

div.main-image
{
	display: table;
	height: 602px;
	div
	{
		display: table-cell;
		vertical-align: middle;
		float: none;
		height: 100%;
	}
}