// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$arrow-background: #0a0a0a;

div.main-image
{
	display: table;
	height: 602px;
}

td.arrow
{
	width: 80px;
}

td.main-image
{
	width: 602px;
	height: 602px;
}

div.image-wrapper
{
	width: 100%;
	height: 100%;
	text-align: center;
}

#image
{
	vertical-align: middle;
}