// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$arrow-background: #0a0a0a;

div.main-image
{
	display: table;
	height: 602px;
	div
	{
		display: table-cell;
		vertical-align: middle;
		float: none;
		height: 100%;
	}
}

td.main-image
{
	width: 602px;
	height: 602px;
	text-align:center;
}