<div class="row">
	<div class="span10 offset2">
		<h3><%= link_to category.title, category_path(category) %> </h2>
	</div>
</div>
<div class="row">
	<div class="span4 offset2">
		<p> <%= markdown category.description %> </p>
	</div>
	<div class="span4 text-center">
		<% if !category.posts.empty? %>
			<% post = category.posts.order("created_at desc").first %>
			<%= link_to image_tag(post.first_image.url(:medium), :class => "bordered-image"), category_path(category) %>
		<% end %>
	</div>
</div>