<% if can? :manage, Category %>
	<div class="admin-actions pull-right">
	  <%= link_to 'New Category', new_category_path, :class => "btn btn-primary" %>
	</div>
<% end %>

<div class="row">
  <div class="span10 offset1">
    <h1>Categories</h1>
    <p>Click a category to view all related posts. The most recent entry is displayed next to the category description.</p>
  </div>
</div>

<%= render @categories %>